In [1]:
from pandas import read_csv
from scripts.dataset_preprocessing import binning_date_by_period, label_encode_dataframe, drop_outliers

In [2]:
dataframe = read_csv('../data/raw/marketing_campaign.csv')
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

### UNDEBATTABLE ACTIONS
As we've seen with the exploratory anaylsis, some feature are useless because of the unique values, or useless in a model.  
The **Dt_Customer** is interesting to be plot, however in a model the multiple categories are irelevant.  
The others categoricals values will be either LabelEncode or OneHotEncode, we coul LabelEncode it in a first place.  
***

In [3]:
dataframe.drop(columns=['ID', 'Z_Revenue', 'Z_CostContact'], inplace=True)
dataframe['Dt_Customer'] = dataframe['Dt_Customer'].apply(binning_date_by_period, args=('Year',))

In [4]:
categorical_columns = ['Education', 'Marital_Status', 'Dt_Customer']
dataframe = label_encode_dataframe(dataframe, categorical_columns)

0    2
1    2
2    2
3    2
4    4
Name: Education, dtype: int64

### DEBATTABLE ACTIONS  
The remaining clean to do is about : outliers & missing values.  
In our case, we'll create 3 datasets to 3 different handles : 
- Dropping missing values & dropping outliers
- Filling missing values with median & dropping outliers
- Filling missing values with median (with outliers)
***

In [5]:
#Drop NA & outliers
dataframe.dropna(inplace=True)
dataframe = drop_outliers(dataframe)

In [6]:
#Fill NA & drop outliers
dataframe['Income'].fillna(dataframe['Income'].median(), inplace=True)
dataframe = drop_outliers(dataframe)

In [7]:
#Fill NA
dataframe['Income'].fillna(dataframe['Income'].median(), inplace=True)