In [15]:
from pandas import read_csv
from scripts.dataset_preprocessing import (
    binning_date_by_period,
    label_encode_dataframe,
    drop_outliers,
    drop_shared_outliers
)

In [16]:
dataframe = read_csv("../data/raw/marketing_campaign.csv")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

### UNDEBATTABLE ACTIONS
As we've seen with the exploratory anaylsis, some feature are useless because of the unique values, or useless in a model.  
The **Dt_Customer** is interesting to be plot, however in a model the multiple categories are irelevant.  
The others categoricals values will be either LabelEncode or OneHotEncode, we coul LabelEncode it in a first place.  
We are also going to create merged features.
***

In [17]:
dataframe.drop(columns=["ID", "Z_Revenue", "Z_CostContact"], inplace=True)
dataframe["Dt_Customer"] = dataframe["Dt_Customer"].apply(
    binning_date_by_period, args=("Year",)
)

In [18]:
categorical_columns = ["Education", "Marital_Status", "Dt_Customer"]
dataframe = label_encode_dataframe(dataframe, categorical_columns)

In [19]:
dataframe["Purchases"] = dataframe["MntWines"]+ dataframe["MntFruits"]+ dataframe["MntMeatProducts"]+ dataframe["MntFishProducts"]+ dataframe["MntSweetProducts"]+ dataframe["MntGoldProds"]
dataframe["Is_Alone"]=dataframe["Marital_Status"].replace({"Married":False, "Together":False, "Absurd":True, "Widow":True, "YOLO":True, "Divorced":True, "Single":True,})
dataframe["Education"]=dataframe["Education"].replace({"Basic":"Undergraduate","2n Cycle":"Undergraduate", "Graduation":"Graduate", "Master":"Postgraduate", "PhD":"Postgraduate"})
dataframe["Children"]=dataframe["Kidhome"]+dataframe["Teenhome"]
dataframe["Family_Size"] = dataframe["Is_Alone"].replace({False: 1, True:2}) + dataframe["Children"]
dataframe["Is_Parent"] = dataframe['Children'] > 0
dataframe["Offers"] = dataframe["AcceptedCmp1"]+ dataframe["AcceptedCmp2"]+ dataframe["AcceptedCmp3"]+ dataframe["AcceptedCmp4"]+ dataframe["AcceptedCmp5"]

### DEBATTABLE ACTIONS  
The remaining clean to do is about : outliers & missing values.  
In our case, we'll create 3 datasets to 3 different handles : 
- Dropping missing values & dropping outliers
- Filling missing values with median & dropping outliers
- Filling missing values with median (with outliers)
***

In [20]:
outliers_columns = [
    "Year_Birth",
    "Income",
    "MntWines",
    "MntFruits",
    "MntMeatProducts",
    "MntFishProducts",
    "MntSweetProducts",
    "MntGoldProds",
    "NumDealsPurchases",
    "NumWebPurchases",
    "NumCatalogPurchases",
    "NumWebVisitsMonth",
    "Children",
    "Purchases",
    "Family_Size",
    "Offers"
]

In [21]:
# Drop NA & outliers
dopna_outliers_data = dataframe.copy()

dopna_outliers_data.dropna(inplace=True)
dopna_outliers_data = drop_shared_outliers(dopna_outliers_data, outliers_columns, 90)

dopna_outliers_data.to_csv("../data/cleaned/marketing_campaign_dropna_no_outliers.csv", index=False)

Data points considered outliers for the column Year_Birth:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
192,1900,0,2,36640.0,1,0,1,99,15,6,...,0,0,1,0,65,2,1,3,True,0
239,1893,0,4,60182.0,0,1,2,23,8,0,...,0,0,0,0,22,4,1,5,True,0
339,1899,4,5,83532.0,0,0,1,36,755,144,...,0,0,0,0,1853,5,0,5,False,1

Data points considered outliers for the column Income:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
2233,1977,2,5,666666.0,1,0,1,23,9,14,...,0,0,0,0,62,5,1,6,True,0

Data points considered outliers for the column MntWines:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column MntFruits:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column MntMeatProducts:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
21,1979,2,3,2447.0,1,0,1,42,1,1,...,0,0,0,0,1730,3,1,4,True,0
164,1973,4,3,157243.0,0,1,2,98,20,2,...,0,0,0,0,1608,3,1,4,True,0
687,1982,4,3,160803.0,0,0,0,21,55,16,...,0,0,0,0,1717,3,0,3,False,0
1653,1977,2,5,157146.0,0,0,1,13,1,0,...,0,0,0,0,1730,5,0,5,False,0

Data points considered outliers for the column MntFishProducts:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column MntSweetProducts:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
1898,1945,4,4,113734.0,0,0,2,9,6,2,...,0,0,0,0,277,4,0,4,False,0

Data points considered outliers for the column MntGoldProds:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
1975,1969,2,3,4428.0,0,1,1,0,16,4,...,0,0,0,0,359,3,1,4,True,0

Data points considered outliers for the column NumDealsPurchases:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
21,1979,2,3,2447.0,1,0,1,42,1,1,...,0,0,0,0,1730,3,1,4,True,0
164,1973,4,3,157243.0,0,1,2,98,20,2,...,0,0,0,0,1608,3,1,4,True,0
287,1956,3,5,50898.0,1,1,1,88,285,28,...,0,0,0,0,859,5,2,7,True,0
432,1967,0,5,67309.0,1,1,1,76,515,47,...,0,0,0,0,1082,5,2,7,True,0
687,1982,4,3,160803.0,0,0,0,21,55,16,...,0,0,0,0,1717,3,0,3,False,0
1042,1991,2,4,8028.0,0,0,0,62,73,18,...,0,0,0,0,178,4,0,4,False,0
1147,1956,2,5,54450.0,1,1,0,0,454,0,...,0,0,0,0,684,5,2,7,True,0
1161,1956,2,5,54450.0,1,1,0,0,454,0,...,0,0,0,0,684,5,2,7,True,0
1245,1971,2,2,1730.0,0,0,2,65,1,1,...,0,0,0,0,8,2,0,2,False,0
1503,1973,3,3,54108.0,1,1,0,74,539,6,...,0,0,0,0,747,3,2,5,True,0
1525,1976,2,3,58597.0,1,1,0,20,490,0,...,0,0,0,0,733,3,2,5,True,0
1788,1979,0,5,60839.0,1,1,0,72,600,21,...,0,0,0,0,1250,5,2,7,True,0
1846,1963,4,3,4023.0,1,1,2,29,5,0,...,0,0,0,0,9,3,2,5,True,0

Data points considered outliers for the column NumWebPurchases:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
1806,1966,4,4,7144.0,0,2,1,92,81,4,...,0,0,0,0,416,4,2,6,True,0
1898,1945,4,4,113734.0,0,0,2,9,6,2,...,0,0,0,0,277,4,0,4,False,0
1975,1969,2,3,4428.0,0,1,1,0,16,4,...,0,0,0,0,359,3,1,4,True,0

Data points considered outliers for the column NumCatalogPurchases:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
21,1979,2,3,2447.0,1,0,1,42,1,1,...,0,0,0,0,1730,3,1,4,True,0
164,1973,4,3,157243.0,0,1,2,98,20,2,...,0,0,0,0,1608,3,1,4,True,0
687,1982,4,3,160803.0,0,0,0,21,55,16,...,0,0,0,0,1717,3,0,3,False,0
1653,1977,2,5,157146.0,0,0,1,13,1,0,...,0,0,0,0,1730,5,0,5,False,0

Data points considered outliers for the column NumWebVisitsMonth:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
9,1950,4,5,5648.0,1,1,2,68,28,0,...,0,0,0,0,49,5,2,7,True,1
774,1957,4,5,6835.0,0,1,0,76,107,2,...,0,0,0,0,137,5,1,6,True,0
1042,1991,2,4,8028.0,0,0,0,62,73,18,...,0,0,0,0,178,4,0,4,False,0
1245,1971,2,2,1730.0,0,0,2,65,1,1,...,0,0,0,0,8,2,0,2,False,0
1846,1963,4,3,4023.0,1,1,2,29,5,0,...,0,0,0,0,9,3,2,5,True,0

Data points considered outliers for the column Children:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column Purchases:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column Family_Size:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column Offers:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
124,1983,2,4,101970.0,0,0,1,69,722,27,...,1,0,0,1,1135,4,0,4,False,3
203,1977,4,5,102160.0,0,0,0,54,763,29,...,1,0,0,1,1240,5,0,5,False,3
246,1972,2,3,80134.0,1,0,1,40,1218,16,...,1,0,0,1,1690,3,1,4,True,3
252,1974,2,2,102692.0,0,0,1,5,168,148,...,1,1,0,1,1112,2,0,2,False,4
336,1968,2,2,75693.0,0,0,0,10,797,153,...,1,0,0,1,1442,2,0,2,False,3
417,1994,2,5,80134.0,0,0,2,11,966,26,...,1,1,0,0,1378,5,0,5,False,4
426,1986,2,3,92910.0,0,0,2,42,551,137,...,1,0,0,0,1795,3,0,3,False,3
430,1961,4,4,84865.0,0,0,1,1,1248,16,...,1,1,0,1,1688,4,0,4,False,4
559,1959,2,5,87771.0,0,1,1,61,1492,38,...,1,1,0,1,1957,5,1,6,True,4
575,1977,4,3,61996.0,0,1,1,27,1050,12,...,1,1,0,1,1230,3,1,4,True,3
586,1955,2,6,79800.0,0,0,0,65,1060,21,...,1,0,0,1,1867,6,0,6,False,3
703,1988,3,4,90247.0,0,0,2,27,1184,32,...,1,0,0,1,1621,4,0,4,False,3
734,1973,2,2,89694.0,1,1,1,22,1126,28,...,1,0,0,0,1472,2,2,4,True,3
735,1949,2,3,72025.0,0,0,2,46,967,0,...,1,0,0,1,1677,3,0,3,False,3
753,1969,2,3,80952.0,0,0,1,20,778,178,...,1,0,0,1,1757,3,0,3,False,3
791,1957,4,3,82017.0,0,0,0,58,184,23,...,1,0,0,1,729,3,0,3,False,3
804,1958,2,3,48192.0,0,0,1,76,1039,43,...,1,1,0,1,1526,3,0,3,False,3
824,1959,2,5,87771.0,0,1,1,61,1492,38,...,1,1,0,1,1957,5,1,6,True,4
845,1970,2,5,81205.0,0,0,2,43,724,74,...,0,1,0,1,2009,5,0,5,False,3
875,1953,2,5,80812.0,0,0,1,95,769,22,...,1,0,0,0,1677,5,0,5,False,3
943,1953,2,5,94384.0,0,0,1,62,1111,24,...,1,0,0,1,2302,5,0,5,False,3
987,1969,2,3,75759.0,0,0,1,46,1394,22,...,1,0,0,1,2486,3,0,3,False,3
990,1954,2,2,85683.0,0,0,2,6,1296,17,...,1,1,0,1,1789,2,0,2,False,4
1010,1979,2,5,77568.0,0,1,0,30,1230,0,...,1,0,0,0,2194,5,1,6,True,3
1087,1958,4,5,84460.0,0,0,1,80,152,27,...,1,1,0,1,523,5,0,5,False,4
1100,1975,2,2,83829.0,0,0,1,78,897,161,...,1,0,0,1,1862,2,0,2,False,3
1134,1985,2,4,72903.0,0,0,1,74,1067,138,...,1,0,0,1,2013,4,0,4,False,3
1237,1972,2,5,84906.0,0,0,1,98,997,15,...,0,1,0,0,1631,5,0,5,False,3
1265,1975,2,2,83829.0,0,0,1,78,897,161,...,1,0,0,1,1862,2,0,2,False,3
1288,1972,3,3,83151.0,0,0,1,80,968,147,...,1,0,0,1,2346,3,0,3,False,3
1301,1953,2,5,94384.0,0,0,1,62,1111,24,...,1,0,0,1,2302,5,0,5,False,3
1308,1982,2,3,65169.0,0,0,2,23,1074,0,...,1,1,0,1,1189,3,0,3,False,4
1334,1978,3,3,88097.0,1,0,0,24,163,0,...,1,0,0,1,844,3,1,4,True,3
1411,1972,2,3,80134.0,1,0,1,40,1218,16,...,1,0,0,1,1690,3,1,4,True,3
1458,1970,2,4,93790.0,0,0,2,16,1302,68,...,1,0,0,1,2349,4,0,4,False,3
1492,1988,2,5,87679.0,0,0,1,62,1259,172,...,1,0,0,1,2524,5,0,5,False,3
1641,1964,4,2,64140.0,0,2,1,71,1459,0,...,0,1,0,1,1750,2,2,4,True,3
1710,1986,2,3,83512.0,0,0,2,31,1060,61,...,1,1,0,1,2157,3,0,3,False,4
1711,1959,3,3,77520.0,0,1,1,30,940,44,...,1,0,0,1,1526,3,1,4,True,3
1721,1983,4,3,92491.0,0,0,1,71,979,44,...,1,0,0,1,2034,3,0,3,False,3
1722,1991,2,4,90273.0,0,0,1,32,704,129,...,1,0,0,1,1991,4,0,4,False,3
1749,1949,4,3,80360.0,0,0,1,56,1493,86,...,1,0,0,0,2231,3,0,3,False,3
1841,1953,3,6,84953.0,0,0,1,73,167,48,...,1,0,0,1,1024,6,0,6,False,3
1845,1975,4,3,86836.0,0,0,0,7,179,21,...,1,0,0,1,557,3,0,3,False,3
1869,1977,0,5,82326.0,0,0,2,30,938,142,...,1,0,0,1,2257,5,0,5,False,3
1891,1989,3,5,88420.0,0,0,2,87,957,153,...,1,0,0,0,2069,5,0,5,False,3
1922,1956,2,4,91249.0,0,0,0,84,1324,27,...,1,1,0,1,1676,4,0,4,False,4
1940,1984,4,3,73356.0,0,0,2,56,1050,14,...,1,0,0,1,1512,3,0,3,False,3
1961,1962,4,6,71670.0,0,0,1,8,1462,16,...,0,1,0,1,1766,6,0,6,False,3
1995,1980,0,3,96547.0,0,0,2,4,448,21,...,1,0,0,1,809,3,0,3,False,3
2012,1977,2,5,96876.0,0,0,1,79,908,43,...,1,0,0,1,1941,5,0,5,False,3
2125,1972,2,5,84906.0,0,0,1,98,997,15,...,0,1,0,0,1631,5,0,5,False,3
2167,1990,3,4,91172.0,0,0,1,94,162,28,...,1,1,0,1,1092,4,0,4,False,4
2168,1984,2,3,90000.0,0,0,1,91,675,144,...,1,0,0,0,1479,3,0,3,False,3
2171,1970,0,2,65706.0,0,0,1,77,918,10,...,0,1,0,1,1199,2,0,2,False,3

In [22]:
# Fill NA & drop outliers


fillna_outliers_data = dataframe.copy()

fillna_outliers_data["Income"].fillna(
    fillna_outliers_data["Income"].median(), inplace=True
)
fillna_outliers_data = drop_shared_outliers(fillna_outliers_data, outliers_columns, 90)

fillna_outliers_data.to_csv("../data/cleaned/marketing_campaign_fillna_no_outliers.csv", index=False)

Data points considered outliers for the column Year_Birth:

/tmp/ipykernel_10150/2255311418.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fillna_outliers_data["Income"].fillna(

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
192,1900,0,2,36640.0,1,0,1,99,15,6,...,0,0,1,0,65,2,1,3,True,0
239,1893,0,4,60182.0,0,1,2,23,8,0,...,0,0,0,0,22,4,1,5,True,0
339,1899,4,5,83532.0,0,0,1,36,755,144,...,0,0,0,0,1853,5,0,5,False,1

Data points considered outliers for the column Income:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
2233,1977,2,5,666666.0,1,0,1,23,9,14,...,0,0,0,0,62,5,1,6,True,0

Data points considered outliers for the column MntWines:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column MntFruits:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column MntMeatProducts:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
21,1979,2,3,2447.0,1,0,1,42,1,1,...,0,0,0,0,1730,3,1,4,True,0
164,1973,4,3,157243.0,0,1,2,98,20,2,...,0,0,0,0,1608,3,1,4,True,0
687,1982,4,3,160803.0,0,0,0,21,55,16,...,0,0,0,0,1717,3,0,3,False,0
1653,1977,2,5,157146.0,0,0,1,13,1,0,...,0,0,0,0,1730,5,0,5,False,0
2228,1978,0,5,51381.5,0,0,0,53,32,2,...,0,0,0,0,1679,5,0,5,False,1

Data points considered outliers for the column MntFishProducts:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column MntSweetProducts:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
27,1986,2,4,51381.5,1,0,1,19,5,1,...,0,0,0,0,637,4,1,5,True,0
1898,1945,4,4,113734.0,0,0,2,9,6,2,...,0,0,0,0,277,4,0,4,False,0

Data points considered outliers for the column MntGoldProds:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
27,1986,2,4,51381.5,1,0,1,19,5,1,...,0,0,0,0,637,4,1,5,True,0
1975,1969,2,3,4428.0,0,1,1,0,16,4,...,0,0,0,0,359,3,1,4,True,0

Data points considered outliers for the column NumDealsPurchases:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
21,1979,2,3,2447.0,1,0,1,42,1,1,...,0,0,0,0,1730,3,1,4,True,0
90,1957,4,3,51381.5,2,1,0,4,230,42,...,0,0,0,0,603,3,3,6,True,0
164,1973,4,3,157243.0,0,1,2,98,20,2,...,0,0,0,0,1608,3,1,4,True,0
287,1956,3,5,50898.0,1,1,1,88,285,28,...,0,0,0,0,859,5,2,7,True,0
432,1967,0,5,67309.0,1,1,1,76,515,47,...,0,0,0,0,1082,5,2,7,True,0
687,1982,4,3,160803.0,0,0,0,21,55,16,...,0,0,0,0,1717,3,0,3,False,0
1042,1991,2,4,8028.0,0,0,0,62,73,18,...,0,0,0,0,178,4,0,4,False,0
1147,1956,2,5,54450.0,1,1,0,0,454,0,...,0,0,0,0,684,5,2,7,True,0
1161,1956,2,5,54450.0,1,1,0,0,454,0,...,0,0,0,0,684,5,2,7,True,0
1245,1971,2,2,1730.0,0,0,2,65,1,1,...,0,0,0,0,8,2,0,2,False,0
1503,1973,3,3,54108.0,1,1,0,74,539,6,...,0,0,0,0,747,3,2,5,True,0
1525,1976,2,3,58597.0,1,1,0,20,490,0,...,0,0,0,0,733,3,2,5,True,0
1788,1979,0,5,60839.0,1,1,0,72,600,21,...,0,0,0,0,1250,5,2,7,True,0
1846,1963,4,3,4023.0,1,1,2,29,5,0,...,0,0,0,0,9,3,2,5,True,0

Data points considered outliers for the column NumWebPurchases:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
27,1986,2,4,51381.5,1,0,1,19,5,1,...,0,0,0,0,637,4,1,5,True,0
1806,1966,4,4,7144.0,0,2,1,92,81,4,...,0,0,0,0,416,4,2,6,True,0
1898,1945,4,4,113734.0,0,0,2,9,6,2,...,0,0,0,0,277,4,0,4,False,0
1975,1969,2,3,4428.0,0,1,1,0,16,4,...,0,0,0,0,359,3,1,4,True,0

Data points considered outliers for the column NumCatalogPurchases:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
21,1979,2,3,2447.0,1,0,1,42,1,1,...,0,0,0,0,1730,3,1,4,True,0
164,1973,4,3,157243.0,0,1,2,98,20,2,...,0,0,0,0,1608,3,1,4,True,0
687,1982,4,3,160803.0,0,0,0,21,55,16,...,0,0,0,0,1717,3,0,3,False,0
1653,1977,2,5,157146.0,0,0,1,13,1,0,...,0,0,0,0,1730,5,0,5,False,0

Data points considered outliers for the column NumWebVisitsMonth:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
9,1950,4,5,5648.0,1,1,2,68,28,0,...,0,0,0,0,49,5,2,7,True,1
774,1957,4,5,6835.0,0,1,0,76,107,2,...,0,0,0,0,137,5,1,6,True,0
1042,1991,2,4,8028.0,0,0,0,62,73,18,...,0,0,0,0,178,4,0,4,False,0
1245,1971,2,2,1730.0,0,0,2,65,1,1,...,0,0,0,0,8,2,0,2,False,0
1846,1963,4,3,4023.0,1,1,2,29,5,0,...,0,0,0,0,9,3,2,5,True,0

Data points considered outliers for the column Children:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column Purchases:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column Family_Size:

Empty DataFrame
Columns: [Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response, Purchases, Is_Alone, Children, Family_Size, Is_Parent, Offers]
Index: []

[0 rows x 32 columns]

Data points considered outliers for the column Offers:

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Purchases,Is_Alone,Children,Family_Size,Is_Parent,Offers
124,1983,2,4,101970.0,0,0,1,69,722,27,...,1,0,0,1,1135,4,0,4,False,3
203,1977,4,5,102160.0,0,0,0,54,763,29,...,1,0,0,1,1240,5,0,5,False,3
246,1972,2,3,80134.0,1,0,1,40,1218,16,...,1,0,0,1,1690,3,1,4,True,3
252,1974,2,2,102692.0,0,0,1,5,168,148,...,1,1,0,1,1112,2,0,2,False,4
336,1968,2,2,75693.0,0,0,0,10,797,153,...,1,0,0,1,1442,2,0,2,False,3
417,1994,2,5,80134.0,0,0,2,11,966,26,...,1,1,0,0,1378,5,0,5,False,4
426,1986,2,3,92910.0,0,0,2,42,551,137,...,1,0,0,0,1795,3,0,3,False,3
430,1961,4,4,84865.0,0,0,1,1,1248,16,...,1,1,0,1,1688,4,0,4,False,4
559,1959,2,5,87771.0,0,1,1,61,1492,38,...,1,1,0,1,1957,5,1,6,True,4
575,1977,4,3,61996.0,0,1,1,27,1050,12,...,1,1,0,1,1230,3,1,4,True,3
586,1955,2,6,79800.0,0,0,0,65,1060,21,...,1,0,0,1,1867,6,0,6,False,3
703,1988,3,4,90247.0,0,0,2,27,1184,32,...,1,0,0,1,1621,4,0,4,False,3
734,1973,2,2,89694.0,1,1,1,22,1126,28,...,1,0,0,0,1472,2,2,4,True,3
735,1949,2,3,72025.0,0,0,2,46,967,0,...,1,0,0,1,1677,3,0,3,False,3
753,1969,2,3,80952.0,0,0,1,20,778,178,...,1,0,0,1,1757,3,0,3,False,3
791,1957,4,3,82017.0,0,0,0,58,184,23,...,1,0,0,1,729,3,0,3,False,3
804,1958,2,3,48192.0,0,0,1,76,1039,43,...,1,1,0,1,1526,3,0,3,False,3
824,1959,2,5,87771.0,0,1,1,61,1492,38,...,1,1,0,1,1957,5,1,6,True,4
845,1970,2,5,81205.0,0,0,2,43,724,74,...,0,1,0,1,2009,5,0,5,False,3
875,1953,2,5,80812.0,0,0,1,95,769,22,...,1,0,0,0,1677,5,0,5,False,3
943,1953,2,5,94384.0,0,0,1,62,1111,24,...,1,0,0,1,2302,5,0,5,False,3
987,1969,2,3,75759.0,0,0,1,46,1394,22,...,1,0,0,1,2486,3,0,3,False,3
990,1954,2,2,85683.0,0,0,2,6,1296,17,...,1,1,0,1,1789,2,0,2,False,4
1010,1979,2,5,77568.0,0,1,0,30,1230,0,...,1,0,0,0,2194,5,1,6,True,3
1087,1958,4,5,84460.0,0,0,1,80,152,27,...,1,1,0,1,523,5,0,5,False,4
1100,1975,2,2,83829.0,0,0,1,78,897,161,...,1,0,0,1,1862,2,0,2,False,3
1134,1985,2,4,72903.0,0,0,1,74,1067,138,...,1,0,0,1,2013,4,0,4,False,3
1237,1972,2,5,84906.0,0,0,1,98,997,15,...,0,1,0,0,1631,5,0,5,False,3
1265,1975,2,2,83829.0,0,0,1,78,897,161,...,1,0,0,1,1862,2,0,2,False,3
1288,1972,3,3,83151.0,0,0,1,80,968,147,...,1,0,0,1,2346,3,0,3,False,3
1301,1953,2,5,94384.0,0,0,1,62,1111,24,...,1,0,0,1,2302,5,0,5,False,3
1308,1982,2,3,65169.0,0,0,2,23,1074,0,...,1,1,0,1,1189,3,0,3,False,4
1334,1978,3,3,88097.0,1,0,0,24,163,0,...,1,0,0,1,844,3,1,4,True,3
1411,1972,2,3,80134.0,1,0,1,40,1218,16,...,1,0,0,1,1690,3,1,4,True,3
1458,1970,2,4,93790.0,0,0,2,16,1302,68,...,1,0,0,1,2349,4,0,4,False,3
1492,1988,2,5,87679.0,0,0,1,62,1259,172,...,1,0,0,1,2524,5,0,5,False,3
1641,1964,4,2,64140.0,0,2,1,71,1459,0,...,0,1,0,1,1750,2,2,4,True,3
1710,1986,2,3,83512.0,0,0,2,31,1060,61,...,1,1,0,1,2157,3,0,3,False,4
1711,1959,3,3,77520.0,0,1,1,30,940,44,...,1,0,0,1,1526,3,1,4,True,3
1721,1983,4,3,92491.0,0,0,1,71,979,44,...,1,0,0,1,2034,3,0,3,False,3
1722,1991,2,4,90273.0,0,0,1,32,704,129,...,1,0,0,1,1991,4,0,4,False,3
1749,1949,4,3,80360.0,0,0,1,56,1493,86,...,1,0,0,0,2231,3,0,3,False,3
1841,1953,3,6,84953.0,0,0,1,73,167,48,...,1,0,0,1,1024,6,0,6,False,3
1845,1975,4,3,86836.0,0,0,0,7,179,21,...,1,0,0,1,557,3,0,3,False,3
1869,1977,0,5,82326.0,0,0,2,30,938,142,...,1,0,0,1,2257,5,0,5,False,3
1891,1989,3,5,88420.0,0,0,2,87,957,153,...,1,0,0,0,2069,5,0,5,False,3
1922,1956,2,4,91249.0,0,0,0,84,1324,27,...,1,1,0,1,1676,4,0,4,False,4
1940,1984,4,3,73356.0,0,0,2,56,1050,14,...,1,0,0,1,1512,3,0,3,False,3
1961,1962,4,6,71670.0,0,0,1,8,1462,16,...,0,1,0,1,1766,6,0,6,False,3
1995,1980,0,3,96547.0,0,0,2,4,448,21,...,1,0,0,1,809,3,0,3,False,3
2012,1977,2,5,96876.0,0,0,1,79,908,43,...,1,0,0,1,1941,5,0,5,False,3
2125,1972,2,5,84906.0,0,0,1,98,997,15,...,0,1,0,0,1631,5,0,5,False,3
2167,1990,3,4,91172.0,0,0,1,94,162,28,...,1,1,0,1,1092,4,0,4,False,4
2168,1984,2,3,90000.0,0,0,1,91,675,144,...,1,0,0,0,1479,3,0,3,False,3
2171,1970,0,2,65706.0,0,0,1,77,918,10,...,0,1,0,1,1199,2,0,2,False,3

In [23]:
# Fill NA
fillna_data = dataframe.copy()

fillna_data["Income"].fillna(fillna_data["Income"].median(), inplace=True)

fillna_data.to_csv("../data/cleaned/marketing_campaign_fillna.csv", index=False)

/tmp/ipykernel_10150/1236825801.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fillna_data["Income"].fillna(fillna_data["Income"].median(), inplace=True)