In [2]:
from pandas import read_csv, DataFrame
from sklearn.decomposition import FactorAnalysis, PCA

from scripts.dataset_analyse import pca_visualize
from scripts.dataset_preprocessing import scale_dataframe

In [3]:
dataframe = read_csv("../data/cleaned/marketing_campaign_fillna_no_outliers.csv")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2214 entries, 0 to 2213
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2214 non-null   int64
 1   Year_Birth           2214 non-null   int64
 2   Education            2214 non-null   int64
 3   Marital_Status       2214 non-null   int64
 4   Income               2214 non-null   float64
 5   Kidhome              2214 non-null   int64
 6   Teenhome             2214 non-null   int64
 7   Dt_Customer          2214 non-null   int64
 8   Recency              2214 non-null   int64
 9   MntWines             2214 non-null   int64
 10  MntFruits            2214 non-null   int64
 11  MntMeatProducts      2214 non-null   int64
 12  MntFishProducts      2214 non-null   int64
 13  MntSweetProducts     2214 non-null   int64
 14  MntGoldProds         2214 non-null   int64
 15  NumDealsPurchases    2214 non-null   int64
 16  NumWebPurchases      2214 non-null   int64
 17  NumCatalogPurchases  2214 non-null   int64
 18  NumStorePurchases    2214 non-null   int64
 19  NumWebVisitsMonth    2214 non-null   int64
 20  AcceptedCmp3         2214 non-null   int64
 21  AcceptedCmp4         2214 non-null   int64
 22  AcceptedCmp5         2214 non-null   int64
 23  AcceptedCmp1         2214 non-null   int64
 24  AcceptedCmp2         2214 non-null   int64
 25  Complain             2214 non-null   int64
 26  Response             2214 non-null   int64
dtypes: float64(1), int64(26)
memory usage: 467.1 KB

In [4]:
dataframe = scale_dataframe(dataframe)

In [5]:
factor_analysis = PCA(n_components=5)
dataframe = factor_analysis.fit_transform(dataframe)
dataframe = DataFrame(dataframe)
pca_visualize(dataframe)

In [6]:
dataframe.head()

          0         1         2         3         4
0  3.892138  0.304038 -0.203964 -2.669023  0.162568
1 -2.450238 -0.279627 -0.427251  1.703813  0.526508
2  1.708390 -0.253756 -1.138046  0.082120 -0.201259
3 -2.689694 -1.658180  0.224239  0.214385 -0.284862
4 -0.458972 -0.104795 -0.544420  0.243901 -0.538078