In [19]:
from pandas import read_csv, DataFrame
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import FactorAnalysis, PCA

In [20]:
dataframe = read_csv("../data/cleaned/marketing_campaign_dropna.csv")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216 entries, 0 to 2215
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Response             2216 non-null   int64
dtypes: float64(1), int64(23), object(3)
memory usage: 467.6+ KB

In [ ]:
dataframe = scale_dataframe(dataframe)

In [21]:
factor_analysis = PCA(n_components=5)
dataframe = factor_analysis.fit_transform(dataframe)
dataframe = DataFrame(dataframe)
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216 entries, 0 to 2215
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2216 non-null   float64
 1   1       2216 non-null   float64
 2   2       2216 non-null   float64
 3   3       2216 non-null   float64
 4   4       2216 non-null   float64
dtypes: float64(5)
memory usage: 86.7 KB

In [22]:
dataframe.head()

              0            1           2           3          4
0   5895.142933   -75.750592  396.644529  246.865404  77.177922
1  -5912.059500 -3403.282875 -292.296682  -41.205023 -26.085662
2  19363.174870 -1480.413499  -78.517962 -114.936922  43.839142
3 -25602.178861   637.957001  -93.806146   18.915429 -13.463340
4   6043.733721  -274.135315 -197.046830  -11.778609   2.365961